@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@700&display=swap');
body {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 18px;
  }
  body {
    background-color: #FDEBD0  
}
