@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@700&display=swap');
body {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 18px;
  }
  body {
    background-color: #fff5e6  
}

input [type=submit] {
  background-color: #D4692F
  
}

/*
<Source="Sources.html.php">
<div class="container">
<h2>Subscribe for more Information</h2>
<p></p>
</div>
<div class="container" style="background-color:#FDEBD0 ">
<input type= "text" placeholder="Name" name="name" required>
<label>
<input type="checkbox" checked="checked" name="Subscribe"> For More Information
</label>
</div>
*/
